
@{
    ViewBag.Title = "ErrorPage";
}
<div class="errmessage">

    <div class="login-msg msg-cnt">@ViewBag.Message</div>

    <div class="err col-md-12 text-center">
        @Html.ActionLink("Go Back", "ForgotPassword", "ForgotPass")
    </div>
</div>
  
