/*general error messages*/
.form-group {
    .alerting {
        color: #0FB185;
        background-color: none;
        font-size: 18px;
    }

    .error {
        color: #C81904;
        background-color: none;
        font-size: 18px;
    }
}