.maintenance {
    $font-primary: 'Poppins';
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
        content: '';
        width: 80px;
        height: 10px;
        background-color: $light-green;
        position: absolute;
        top: 190px;
        margin-left: -230px;
    }

    &:after {
        content: '';
        width: 80px;
        height: 10px;
        background-color: $light-green;
        position: absolute;
        top: 378px;
        margin-left: 225px;
    }
}

.text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;   
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 60px;
}