
.sesPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    text-align: center;

    &-box {
        border: 3px solid $light-green;
        border-radius: 20px;
        width: 25%;
        min-width: fit-content;
        min-height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 20px 20px 0;
        line-height: 1.4;
        background-color: white;
        -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        &-txt {
            color: $color-primary;
            font-size: 20px;
            line-height: 33px;
        }

        &-btn {
            padding: 10px 10px;
            color: $white;
            font-size: 18px;
            background: $light-green;
            width: 70px;
            margin: 20px auto 0 auto;
            border-radius: 40px;
            cursor: pointer;

            &:hover {
                background: $color-primary;
            }
        }

        &-loader {
            background-image: url('/Content/images/loading.png');
            width: 266px;
            height: 138px;
            margin: 0 auto;
            animation-name: loading;
            animation-duration: 1.5s;
            animation-timing-function: steps(4);
            animation-iteration-count: infinite;
            animation-delay: 0.6s;
        }
    }
}

@keyframes loading {
    from {
        background-position: 0px;
    }

    to {
        background-position: -1064px;
    }
}

.msgPopUpRequest {
    background-color: #CDDFDD;
    border-radius: 40px;
    width: 370px;
    font-size: 16px;
    border: 1px solid #ffffff;
    padding: 40px 0px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 40px;
    color: $black;

    &Oops {
        color: $red;
    }

    .closePopUp {
        cursor: pointer;
        position: absolute;
        width: 17.11px;
        top: 10px;
        left: 321px;
    }
}