.subMenu {
    @include max-cont;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;

    &-items {
        margin: 20px 0 0 0;
        display: inline-block;

        a {
            @include link-decor;
            @include gradient-btn;
            display: block;
            position: relative;
            color: $white;
            padding: 10px 20px;
            border-radius: 8px;
            text-align: center;
            /*text-align: center;*/
            /*width: 200px;*/
            margin-bottom: 10px;

            &:hover {
                color: $color-secondary;
                background: $white;
            }
        }
    }
}
