@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";


}
<div class="error-maintenance error-page">

    <div class="line">
        <div class="line-big">Hang on,</div>
        <div class="line-big">it looks like we are under maintenance!</div>
        <div class="line-sm">It will not take a long time till we get the errors fixed. We are on it.</div>
    </div>

</div>
